#content {
    flex: 1;
    margin: 2rem 5rem;
}

.body-article {
    background-color: var(--white-background);
    padding: 2.5rem 1.5rem 2rem;
    text-align: center;
}

.body-article + .body-article {
    margin-top: 2rem;
}

h3 {
    margin-bottom: .8em;
}

* + .body-para,
* + figcaption {
    margin-top: 1em;
}
