#footer {
    flex-direction: column;
    gap: .3rem;
    padding: .6rem 1rem;
}

.footer-link,
.footer-link:visited {
    color: var(--nav-blue);
    padding: .5em 1.2em;
}

.link-separator {
    margin-inline: -1ch;
}
