/* CSS Reset by Josh Comeau*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Font imports */

@font-face {
    font-family: 'courierstuckregular';
    src: url('../fonts/courierstuck-webfont.woff2') format('woff2'),
        url('../fonts/courierstuck-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Root settings and variables */

:root {
    --paragraph-typeface: 'Courier New', Courier, monospace;
    --button-typeface: Arial, Helvetica, sans-serif;
    --display-typeface: "courierstuckregular", "Courier New", Courier, monospace;

    --medium-background: #535353;
    --light-background: #c6c6c6;
    --white-background: #efefef;

    --title-text-green: #cbdd38;
    --title-text-shadow: #253413;

    --nav-blue: #43b4ff;
    --nav-green: #29ff4a;
    --nav-yellow: #f7f72a;
    --nav-orange: #ffb529;

    font: bold 16px var(--paragraph-typeface);
}

a, button {
    cursor: pointer;
}

/* Utility classes */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-brighten:hover {
    filter: brightness(130%);

    &::before,
    &::after {
    filter: brightness(77%);
    }
}

/* Layout */

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--medium-background);
}
