#header {
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: .6rem;
    padding: .5rem 1rem .8rem;
    text-align: center;
}

h1 {
    font-family: var(--display-typeface);
    letter-spacing: .03em;
    margin-top: -.2em;

    color: var(--title-text-green);
    text-shadow: .065em .065em 0 var(--title-text-shadow);
}

nav {
    text-wrap: nowrap;
}

.nav-button {
    font: bold .9rem var(--button-typeface);
    text-transform: uppercase;
    text-decoration: underline;
    background-color: #0000;

    padding: .8em;
    border: none;
}

#home-button {
    color: var(--nav-yellow);
}

#menu-button {
    color: var(--nav-green);
}

#about-button {
    color: var(--nav-orange);
}

/* So many lines of css, just to place a gif between the buttons */
.nav-button + .nav-button {
    position: relative;
    --candy-corn-size: 1em;
    --candy-corn-padding: .2em;
    
    /* Remove default left margin,
    Add room for the icon,
    Add padding on both sides */
    margin-left: calc(
    -1ch
    + var(--candy-corn-size)
    + var(--candy-corn-padding) * 2
    );

    &::before {
    content: "";
    position: absolute;
    background-image: url("../assets/legacy-small/candy-corn.gif");
    width: var(--candy-corn-size);
    height: var(--candy-corn-size);
    cursor: default;
    
    top: calc(
        50%
        - var(--candy-corn-size) / 2
    );
    
    left: calc(
        -1 * var(--candy-corn-size)
        - var(--candy-corn-padding)
        - .05em
    );
    }
}
