/* CSS Reset by Josh Comeau*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


/* Root settings and variables */

:root {
  --paragraph-typeface: 'Courier New', Courier, monospace;
  --button-typeface: Arial, Helvetica, sans-serif;

  --medium-background: #535353;
  --light-background: #c6c6c6;
  --white-background: #efefef;

  --nav-blue: #43b4ff;
  --nav-green: #29ff4a;
  --nav-yellow: #f7f72a;
  --nav-orange: #ffb529;

  font: bold 16px var(--paragraph-typeface);
}

a, button {
  cursor: pointer;
}

/* Utility classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-brighten:hover {
  filter: brightness(130%);
}

.hover-brighten:hover::before,
.hover-brighten:hover::after {
  filter: brightness(77%);
}

/* Layout */

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */

#header {
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: .6rem;
  padding: .5rem 1rem .8rem;
  background-color: var(--medium-background);
  text-align: center;
}

nav {
  text-wrap: nowrap;
}

.nav-button {
  font: bold .9rem var(--button-typeface);
  text-transform: uppercase;
  text-decoration: underline;
  background-color: #0000;

  padding: .8em;
  border: none;
}

#home-button {
  color: var(--nav-yellow);
}

#menu-button {
  color: var(--nav-green);
}

#about-button {
  color: var(--nav-orange);
}


/* So many lines of css, just to place a gif between the buttons */
.nav-button + .nav-button {
  position: relative;
  --candy-corn-size: 1em;
  --candy-corn-padding: .2em;
  
  /* Remove default left margin,
  Add room for the icon,
  Add padding on both sides */
  margin-left: calc(
    -1ch
    + var(--candy-corn-size)
    + var(--candy-corn-padding) * 2
  );
}

.nav-button + .nav-button::before {
  content: "";
  position: absolute;
  background-image: url("../assets/candy-corn.gif");
  width: var(--candy-corn-size);
  height: var(--candy-corn-size);
  cursor: default;

  top: calc(
    50%
    - var(--candy-corn-size) / 2
  );

  left: calc(
    -1 * var(--candy-corn-size)
    - var(--candy-corn-padding)
    - .05em
  );
}


/* Footer */

#footer {
  flex-direction: column;
  gap: .3rem;
  padding: .6rem 1rem;
  background-color: var(--medium-background);
}

.footer-link,
.footer-link:visited {
  color: var(--nav-blue);
  padding: .5em 1.2em;
}

.link-separator {
  margin-inline: -1ch;
}

/* Content */

#content {
  background-color: #c6c6c6;
  flex: 1;
}
