/* CSS Reset by Josh Comeau*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


/* Root settings and variables */

:root {
  --paragraph-typeface: 'Courier New', Courier, monospace;

  --medium-background: #535353;
  --light-background: #c6c6c6;
  --white-background: #efefef;

  font: bold 16px var(--paragraph-typeface);
}


/* Layout */

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */

#header {
  background-color: var(--medium-background);
}

/* Footer */

#footer {
  background-color: var(--medium-background);
}
