.quirk {
    &.john {
        color: #0715cd;
    }

    &.gamzee {
        color: #2b0057;
    }

    &.jade {
        color: #4ac925;
    }

    &.karkat {
        color: #626262;
    }

    &.terezi {
        color: #008282;
    }
}